@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.all-teams-comp-outer-container{
    /* border: 3px solid rgb(26, 28, 31); */
    height: 35vh;
    width: 15vw;
    border-radius: 20px;

    padding: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f5f9;

    box-shadow: 0 10px 40px 2px rgba(0,0,0,0.4);
    overflow: hidden;

    transition: all 0.8s ease;
    position: relative; 
}

.all-teams-comp-outer-container::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        0deg, 
        transparent, 
        transparent 30%, 
        rgba(var(--team-color), 0.3) 
    );
    transform: rotate(-45deg);
    transition: all 1s ease;
    opacity: 0;
}

.all-teams-comp-outer-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.72);
}

.all-teams-comp-outer-container:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
}




.all-teams-comp-inner-container{
    /* border: 3px solid rgb(26, 28, 31); */
    height: 35vh;
    width: 15vw;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.all-teams-comp-inner-container h1{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 16px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}








.all-teams-credit a{
    font-size: 8px;
    text-decoration: none;
    color: grey;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.all-teams-credit a:hover{
    color: rgb(255, 123, 46);
}






#all-team-border-dlsu{
    border: 5px solid green;
}


#all-team-border-nu{
    border: 5px solid rgb(0, 15, 128);
}

#all-team-border-ust{
    border: 5px solid rgb(214, 198, 26);
}

#all-team-border-feu{
    border: 5px solid rgb(119, 188, 95);
}

#all-team-border-up{
    border: 5px solid rgb(119, 10, 10);
}

#all-team-border-adu{
    border: 5px solid rgb(108, 178, 213);
}

#all-team-border-admu{
    border: 5px solid rgb(30, 68, 129);
}

#all-team-border-ue{
    border: 5px solid rgb(206, 37, 37);
}


